@charset "UTF-8";
/*Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
        background-color: #5E3183;
        height: 100vh;
        width: 100vw;
       
    }

    main /*Container*/ {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    section#login{ /*Conteudo*/
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 520px;
        width: 250px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.49);
        transition:  width 0.5s, height 0.5s;
        transition-timing-function: ease;
    }

    div#imagem{
        background: url(imagens/login.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        display: block;
    }

    div#formulario{
        padding: 10px;
        display: block;
    }

    div#formulario >h2{
        text-align: center;
    }

    #formulario p{
        font-size: 12px;
        padding: 7px;
    }
   

    div.campo{
        background-color: #5E3183;
        height: 40px;
        border-radius: 5px;
        margin: 10px 0px;
        
    }

    div.campo input{
        padding: 3px;
        padding-bottom: 9px;
        transform: translateY(-10px);
    }

    div.campo label{
        display: none;
    }

    input#entrar{
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #53b7b3;
        color: white;
        border-style: none;
        border-radius: 7px;
        cursor: pointer;
    }
    input#entrar:hover{
        background-color: #2D6462;
    }

    a.botao{
        text-align: center;
        display: block;
        font-size: 1em;
        height: 40px;
        width: 100%;
        background-color:white;
        border: 1px solid #2D6462 ;
        border-radius: 7px;
        text-decoration: none;
        margin-top: 5px;
        padding: 7px;
    }

  a.botao:hover{
    background-color: #63c5c0;
  }
  span{
    color: white;
    width: 40px;
  }